.custom-editor .cm-scroller {
    scrollbar-width: thin; 
    scrollbar-color: #4b5563 #1f2937;
  }
  

  .custom-editor .cm-scroller::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
  }
  
  .custom-editor .cm-scroller::-webkit-scrollbar-thumb {
    background: #4b5563; /* Gray thumb */
    border-radius: 14px; /* Round the edges */
  }
  
  .custom-editor .cm-scroller::-webkit-scrollbar-track {
    background: #1f2937; /* Dark background */
  }
   .custom-scroller {
    scrollbar-width: thin; 
    scrollbar-color: #4b5563 #1f2937;
  }
 
  @keyframes fadeOut {
    from {
      opacity: 1;
      color: yellow;
      text-decoration: none;
    }
    to {
      opacity: 0.5;
      color: gray;
      text-decoration: line-through;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fading {
    animation: fadeOut 0.8s forwards;
  }
  
  .normal {
    animation: fadeIn 0.5s forwards;
  }
  